*{
    background: transparent;
    font-style: normal;
    z-index: 0;
    cursor: default;
    color: #cacaca;
    transition: 0.5s ease;
}
body{
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.logo{
    margin-left: 20px;
    margin-top: 10px;
    cursor: pointer;
}
nav{
  width: 100%;
  top: 0px;
  position: fixed;
  z-index: 100;
}
nav ul{
  background: transparent;
  position: absolute;
  right: 20px;
  top: 0px;
  font-size: 16px;
}
nav ul li{
  cursor: pointer;
  display: inline-block;
  float: left;
  padding: 5px 10px;
  font-size: 15px; 
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  letter-spacing: var(--btn-letter-spacing);
  transition: var(--btn-transition);
  box-sizing: border-box;
  padding: 6px 10px;
  color: black;
  position: relative;
}
nav ul li a{
  text-decoration: none;
  cursor: pointer;
  color: black;
}
nav ul li:hover {
  border-bottom: 2px solid black;
}
.text1{
    font-weight: 700;
    font-size: 50px;
    background: transparent;
    position: relative;
    text-align: left;
    margin-top: 8%;
    left: 10px;
    color: black;
    letter-spacing: 3px;
    font-family: "Rubik Mono One", monospace;
    width: fit-content;

}
.text1:hover{
    color: transparent;
    -webkit-text-stroke: 0.01px  black;  
    transition: 0.5s ease;
}
.text2{
    font-size: 20px;
    font-weight: 300;
    color: black;
}
.background{
    z-index: -2;
    position: absolute;
    top: 0px;
    width: 100%;
    left: 0px;
    opacity: 1;
}
p{
    margin: auto;
    font-size: 15px;
    max-width: 80%;
    font-weight: 700;

}
.icons{
    margin-left: 10px;
    bottom: 20px;
    position: absolute;
}
.icons i img{
    width: 30px;
    margin-right: 20px;
}
.one{
  padding: 10px 20px;
  border: 10px solid black;
  background-color: #cacaca;
  position: absolute;
  bottom: 20px;
  color: black;
  right: 10px;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  cursor: pointer;
}
.one:hover{
  background: rgba(100, 100, 100, 0.15);
  backdrop-filter: blur(5px);
  color: white;
}

.loader {
  --size: 250px;
  --duration: 2s;
  --logo-color: grey;
  --background: linear-gradient(
    0deg,
    rgba(50, 50, 50, 0.2) 0%,
    rgba(100, 100, 100, 0.2) 100%
  );
  height: var(--size);
  aspect-ratio: 1;
  position: absolute;
  right: 50px;
  top: 150px;
  
}

.loader .box {
  position: absolute;
  background: rgba(100, 100, 100, 0.15);
  background: var(--background);
  border-radius: 50%;
  border-top: 1px solid rgba(100, 100, 100, 1);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px -0px;
  backdrop-filter: blur(5px);
  animation: ripple var(--duration) infinite ease-in-out;
}

.loader .box:nth-child(1) {
  inset: 40%;
  z-index: 99;
}

.loader .box:nth-child(2) {
  inset: 30%;
  z-index: 98;
  border-color: rgba(100, 100, 100, 0.8);
  animation-delay: 0.2s;
}

.loader .box:nth-child(3) {
  inset: 20%;
  z-index: 97;
  border-color: rgba(100, 100, 100, 0.6);
  animation-delay: 0.4s;
}

.loader .box:nth-child(4) {
  inset: 10%;
  z-index: 96;
  border-color: rgba(100, 100, 100, 0.4);
  animation-delay: 0.6s;
}

.loader .box:nth-child(5) {
  inset: 0%;
  z-index: 95;
  border-color: rgba(100, 100, 100, 0.2);
  animation-delay: 0.8s;
}

.loader .logo {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  padding: 30%;
}

.loader .logo svg {
  fill: var(--logo-color);
  width: 100%;
  animation: color-change var(--duration) infinite ease-in-out;
}

@keyframes ripple {
  0% {
    transform: scale(1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px -0px;
  }
  50% {
    transform: scale(1.3);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 30px 20px -0px;
  }
  100% {
    transform: scale(1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px -0px;
  }
}

@keyframes color-change {
  0% {
    fill: var(--logo-color);
  }
  50% {
    fill: white;
  }
  100% {
    fill: var(--logo-color);
  }
}
.project-area{
  font-family: "Poppins" , sans-serif;
  padding: 20px;
  position: absolute;
  top: 0px;
  left:0px;
  margin: 0px;
  display: flexbox;
  width: 100%;
  height: fit-content;
  --color: rgba(114, 114, 114, 0.3);
  background-color: #191a1a;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
  background-attachment: fixed;
}
.transparent-card{
  background: rgba(100, 100, 100, 0.15);
  border: 1px solid rgba(100, 100, 100, 1);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px -0px;
  backdrop-filter: blur(3px);
  width: 43%;
  height: 300px;
  border-radius: 5px;
  margin: 30px;
  margin-top: 10px;
  position: relative;
  display: inline-block;
  transition-duration: 0.5s ease;
  overflow: hidden;
}
.transparent-card .svg{
  width: 18px;
}
.transparent-card:hover .svg{
  content: url(arrow\ white.svg);
  transform: translateX(5px);
}
.transparent-card:hover, .transparent-card:hover .project-title ,.transparent-card:hover .project-title a{
  border-color: white;
  box-shadow: black;
  outline: none;
  color: white;
}
.transparent-card .project-pic{
  width: 150px;
  height: 80px;
  margin: 40px;
}
.project-area a , h3{
  text-decoration: none;
  cursor: pointer;
}
.project-area img{
  position: relative;
  top: 5px;
  border-radius: 2.5px;
}
.project-area a:hover * img{
  transform: translateX(-8px);
  transition-duration: 0.5s;
}
.project-area h3{
  width: fit-content;
  height: 40px;
  display: inline-block;
  color: #414141;
  margin-left: 55px;
  margin-bottom: 5px;
}
.project-area h1{
  font-family: "Poppins" , sans-serif ;
  margin-left: 35px;
  color: #cacaca;
  font-size: 50px;
  margin-top: -20px;
  margin-bottom: 10px;
  -webkit-text-stroke: 1px  white;
}
.project-info{
  margin-left: 40px ;
}
.project-title, .project-title a{
  color: #010101;
  font-weight: 500;
}
.about-me h2 {
  margin-left: 30px;
  font-size: 35px;
  margin-bottom: 10px;
  -webkit-text-stroke: 1px white;
}
.about-me h3{
  margin-left: 30px;
  height: 0px;
  font-size: 20px;
  color: #fff;
  margin-top: -65px;
}
.about-me h4{
  margin-left:30px ;
  max-width: 90%;
}
.experience{
  width: 96%;
  height: 600px;
  margin-right: 10px;
  margin-top: 50px;
}
.experience h1{
  font-size: 40px;
  -webkit-text-stroke: 1px  white;
  margin-left: 30px;
}
.jobcard{
  width: 95%;
  height: 100px;
  padding: 20px;
  margin-left: 30px;
  border-radius: 5px;
  margin-bottom: 10px;  
  transition: 0.3s ease;
}
.jobcard:hover{
  background: rgba(100, 100, 100, 0.15);
  border: 1px solid rgba(100, 100, 100, 1);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px -0px;
  backdrop-filter: blur(5px);
}
.job-title{
  height: 100%;
  width: 20%;
  color: white;
  display: inline-block;
  font-weight: 500;
}
.job-description{
  height: 100%;
  width: 60%;
  color: white;
  display: inline-block;
}
.job-duration{
  height: 100%;
  width: 17%;
  color: white;
  display: inline-block;
}
.job-description,.job-duration, .job-title, .jobcard{
  cursor: pointer;
}
.new{
  text-align: center;
}
@media only screen and (max-width: 375px ) {
  .transparent-card{
    width: 80vw;
    padding-bottom: 15px;
    padding-right: 4px;
  }
  .jobcard{
    margin: auto;
    font-size: 13px;
    width: 93vw;
  }
}



